  .Album .track {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Album .track img {
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
  }
  
  .Album .track p {
    font-size: 1rem;
    margin: 0;
  }
  
  .Album .track-duration {
    font-size: 0.8rem;
    color: gray;
    margin-top: 0.5rem;
  }
  